/* HERO SECTION */
.hero {
  height: 350px;
  background: url("assets/hero.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 6px black;
  font-size: 38px;
  font-weight: bold;
}

/* HERO SECTION */
.hero {
  height: 350px;      /* Banner ki height */
  background: url("assets/hero.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 6px black;
  font-size: 38px;
  font-weight: bold;
}
